.paragrafo1titulo1 {
    color:red;
    font-size: 20px;
    text-align: center;
}
.paragrafo2titulo1 {
    color:blueviolet;
    font-size: 20px;
    text-align: center;
}

#titulo {
    text-align: center;
    font-size: 30;
}
