body{
    background-color: #F78CA2;
}
.paragrafo1titulo1 {
    color:#D80032;
    font-size: 20px;
    text-align: center;
}
.paragrafo2titulo1 {
    color:#D80032;
    font-size: 20px;
    text-align: center;
}

#titulo {
    color: #3D0C11;
    text-align: center;
    font-size: 30;
}

#banner {
    margin: 20%;
    padding: 20%;
}