.titulo {
    background-color: #293462;
}

.conteudo {
    background-color: #1CD6CE;
}

.rodape{
background-color: #FEDB39;
}

.paragrafo1titulo1 {
    color:#D80032;
    font-size: 20px;
    text-align: center;
}
.paragrafo2titulo1 {
    color:#D80032;
    font-size: 20px;
    text-align: center;
}

#titulo {
    color: #3D0C11;
    text-align: center;
    font-size: 30;
}

#banner {
    width: 35%;
    margin: 5%;
    padding: 5%;
}